<%- include('partials/header') %>

    <h1><%= title %></h1>

    <ul>
        <% for(let color of colors){ %>

            <li>
                <%= color %>
            </li>
     
         <% } %>
    </ul>

    <% let name = 'Allan Turing' %>

    <%= name.toUpperCase() %>

<%- include('partials/footer') %>